### 1. Activated the virtual environment, installed the libraries.

### 2. In a new notebook, import all necessary libraries and read the data.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Define file path
file_path = r"P:\CarrerFoundy\Data Visualizations with Python\Achivement 2\merged_citibike_data_2022.csv"

# Read CSV file
df = pd.read_csv(file_path)

# Display first few rows
df.head()

C:\Users\sojan\AppData\Local\Temp\ipykernel_19280\3565555241.py:5: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Unnamed: 13,Date_and_time
0,BFD29218AB271154,electric_bike,2022/1/21 13:13,22:31.5,West End Ave & W 107 St,7650.05,Mt Morris Park W & W 120 St,7685.14,40.802117,-73.968181,40.804038,-73.945925,member,NaN,1/21/2022 13:13
1,7C953F2FD7BE1302,classic_bike,2022/1/10 11:30,41:43.4,4 Ave & 3 St,4028.04,Boerum Pl\t& Pacific St,4488.09,40.673746,-73.985649,40.688489,-73.991160,member,NaN,1/10/2022 11:30
2,95893ABD40CED4B8,electric_bike,2022/1/26 10:52,06:35.2,1 Ave & E 62 St,6753.08,5 Ave & E 29 St,6248.06,40.761227,-73.960940,40.745168,-73.986831,member,NaN,1/26/2022 10:52
3,F853B50772137378,classic_bike,2022/1/3 8:35,10:50.5,2 Ave & E 96 St,7338.02,5 Ave & E 29 St,6248.06,40.783964,-73.947167,40.745168,-73.986831,member,NaN,1/3/2022 8:35
4,7590ADF834797B4B,classic_bike,2022/1/22 14:14,34:57.5,6 Ave & W 34 St,6364.1,5 Ave & E 29 St,6248.06,40.749640,-73.988050,40.745168,-73.986831,member,NaN,1/22/2022 14:14

### 3. Created a new column with the value of 1.

In [5]:
# Add a column with a constant value of 1
df["trip_count"] = 1

# Aggregate data to count trips between starting and ending stations
aggregated_df = df.groupby(["start_station_name", "end_station_name"]).agg({"trip_count": "sum"}).reset_index()

# Display the first few rows
print(aggregated_df.head())

  start_station_name  end_station_name  trip_count
0   1 Ave & E 110 St  1 Ave & E 110 St          27
1   1 Ave & E 110 St   1 Ave & E 44 St           2
2   1 Ave & E 110 St   1 Ave & E 68 St           1
3   1 Ave & E 110 St   1 Ave & E 78 St           3
4   1 Ave & E 110 St   1 Ave & E 94 St          15

In [7]:
print(df.columns)

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'Unnamed: 13', 'Date_and_time', 'trip_count'],
      dtype='object')

### 4. Initialized an instance of a kepler.gl map.

In [9]:
from keplergl import KeplerGl

# Initialize the map
map_kepler = KeplerGl(height=600)

# Display the map
map_kepler

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(height=600)

In [11]:
print(df.isnull().sum())  # Check how many NaN values exist in each column

ride_id                     0
rideable_type               0
started_at                  0
ended_at                    0
start_station_name          0
start_station_id            0
end_station_name         9653
end_station_id           9653
start_lat                   0
start_lng                   0
end_lat                  6835
end_lng                  6835
member_casual               0
Unnamed: 13           1048575
Date_and_time               0
trip_count                  0
dtype: int64

In [13]:
df.drop(columns=["Unnamed: 13"], inplace=True)

In [15]:
df["end_station_name"].fillna("Unknown", inplace=True)
df["end_station_id"].fillna("Unknown", inplace=True)

C:\Users\sojan\AppData\Local\Temp\ipykernel_19280\14498765.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["end_station_name"].fillna("Unknown", inplace=True)
C:\Users\sojan\AppData\Local\Temp\ipykernel_19280\14498765.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["end_station_id"].fillna("Unknown", inplace=True)

In [17]:
df.dropna(subset=["end_station_name", "end_station_id"], inplace=True)

In [19]:
df["end_lat"].fillna(df["start_lat"], inplace=True)
df["end_lng"].fillna(df["start_lng"], inplace=True)

C:\Users\sojan\AppData\Local\Temp\ipykernel_19280\2919877763.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["end_lat"].fillna(df["start_lat"], inplace=True)
C:\Users\sojan\AppData\Local\Temp\ipykernel_19280\2919877763.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["end_lng"].fillna(df["start_lng"], inplace=True)

In [25]:
df_clean = df.dropna(subset=["start_lat", "start_lng", "end_lat", "end_lng"])

In [27]:
import numpy as np

df_clean = df_clean.replace([np.inf, -np.inf], np.nan)  # Replace infinite values with NaN
df_clean = df_clean.dropna()  # Drop rows with NaN values

In [28]:
map_kepler.add_data(data=df_clean, name="Bike Trips")

In [30]:
map_kepler.save_to_html(file_name="kepler_map.html")

Map saved to kepler_map.html!

In [31]:
import os

# Define the directory path
save_path = r"P:\CarrerFoundy\Data Visualizations with Python\Achivement 2\MyMaps"

# Create the directory if it doesn’t exist
os.makedirs(save_path, exist_ok=True)

# Save the Kepler map as an HTML file
map_kepler.save_to_html(file_name=os.path.join(save_path, "kepler_map.html"))

Map saved to P:\CarrerFoundy\Data Visualizations with Python\Achivement 2\MyMaps\kepler_map.html!

In [32]:
print(df.head())
print(df.tail())  # Check both ends of the dataset

            ride_id  rideable_type       started_at ended_at  \
0  BFD29218AB271154  electric_bike  2022/1/21 13:13  22:31.5
1  7C953F2FD7BE1302   classic_bike  2022/1/10 11:30  41:43.4
2  95893ABD40CED4B8  electric_bike  2022/1/26 10:52  06:35.2
3  F853B50772137378   classic_bike    2022/1/3 8:35  10:50.5
4  7590ADF834797B4B   classic_bike  2022/1/22 14:14  34:57.5

        start_station_name start_station_id             end_station_name  \
0  West End Ave & W 107 St          7650.05  Mt Morris Park W & W 120 St
1             4 Ave & 3 St          4028.04      Boerum Pl\t& Pacific St
2          1 Ave & E 62 St          6753.08              5 Ave & E 29 St
3          2 Ave & E 96 St          7338.02              5 Ave & E 29 St
4          6 Ave & W 34 St           6364.1              5 Ave & E 29 St

  end_station_id  start_lat  start_lng    end_lat    end_lng member_casual  \
0        7685.14  40.802117 -73.968181  40.804038 -73.945925        member
1        4488.09  40.673746 -73.985649  40.688489 -73.991160        member
2        6248.06  40.761227 -73.960940  40.745168 -73.986831        member
3        6248.06  40.783964 -73.947167  40.745168 -73.986831        member
4        6248.06  40.749640 -73.988050  40.745168 -73.986831        member

     Date_and_time  trip_count
0  1/21/2022 13:13           1
1  1/10/2022 11:30           1
2  1/26/2022 10:52           1
3    1/3/2022 8:35           1
4  1/22/2022 14:14           1
                  ride_id  rideable_type       started_at ended_at  \
1048570  E926DC47A742B5F4  electric_bike   2022/2/6 12:35  02:27.0
1048571  C6B7D4BF04ADB9B3   classic_bike   2022/2/5 11:06  14:17.0
1048572  DFE14C6476CE60B9  electric_bike   2022/2/8 16:47  53:07.6
1048573  85A6BD75A4DF016D  electric_bike  2022/2/26 10:04  15:05.1
1048574  70098483D785BCD5   classic_bike    2022/2/1 6:35  49:03.3

                   start_station_name start_station_id  \
1048570             Kent Ave & N 7 St          5489.03
1048571  St Johns Pl & Washington Ave          4001.09
1048572     Greene Ave & Nostrand Ave          4519.02
1048573           W 113 St & Broadway          7713.01
1048574             Kent Ave & N 7 St          5489.03

                 end_station_name end_station_id  start_lat  start_lng  \
1048570   Putnam Ave & Throop Ave        4392.04  40.720368 -73.961651
1048571       Sterling Pl & 5 Ave        4208.01  40.673724 -73.963161
1048572   Putnam Ave & Throop Ave        4392.04  40.688334 -73.950916
1048573  Lexington Ave & E 111 St        7567.06  40.805973 -73.964928
1048574      Vernon Blvd & 50 Ave        6170.02  40.720368 -73.961651

           end_lat    end_lng member_casual    Date_and_time  trip_count
1048570  40.685153 -73.941110        member   2/6/2022 12:35           1
1048571  40.678970 -73.978553        member   2/5/2022 11:06           1
1048572  40.685153 -73.941110        member   2/8/2022 16:47           1
1048573  40.795412 -73.944123        member  2/26/2022 10:04           1
1048574  40.742327 -73.954117        member    2/1/2022 6:35           1

### 5. Customized the output of the map.

In [40]:
df = pd.read_csv(file_path, dtype={"start_station_id": str, "end_station_id": str}, low_memory=False)

In [41]:
print(df.dtypes)  # Verify column types

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
Unnamed: 13           float64
Date_and_time          object
dtype: object

In [44]:
from keplergl import KeplerGl
import pandas as pd

# Load your dataset
file_path = r"P:\CarrerFoundy\Data Visualizations with Python\Achivement 2\merged_citibike_data_2022.csv"
df = pd.read_csv(file_path)

# Initialize KeplerGl map
map_1 = KeplerGl(height=600)

# Add data to the map
map_1.add_data(data=df, name="Bike Trips")

# Custom configuration to change point and arc colors
config = {
    "version": "v1",
    "config": {
        "visState": {
            "layers": [
                {
                    "id": "start_points_layer",
                    "type": "point",
                    "config": {
                        "dataId": "Bike Trips",
                        "label": "Start Stations",
                        "color": [0, 128, 255],  # Blue points for start stations
                        "columns": {
                            "lat": "start_lat",
                            "lng": "start_lng"
                        },
                        "isVisible": True
                    }
                },
                {
                    "id": "end_points_layer",
                    "type": "point",
                    "config": {
                        "dataId": "Bike Trips",
                        "label": "End Stations",
                        "color": [255, 0, 0],  # Red points for end stations
                        "columns": {
                            "lat": "end_lat",
                            "lng": "end_lng"
                        },
                        "isVisible": True
                    }
                },
                {
                    "id": "arc_layer",
                    "type": "arc",
                    "config": {
                        "dataId": "Bike Trips",
                        "label": "Trip Arcs",
                        "color": [255, 140, 0],  # Orange arcs
                        "columns": {
                            "lat0": "start_lat",
                            "lng0": "start_lng",
                            "lat1": "end_lat",
                            "lng1": "end_lng"
                        },
                        "isVisible": True,
                        "visConfig": {
                            "opacity": 0.6,
                            "thickness": 2
                        }
                    }
                }
            ]
        }
    }
}

# Apply configuration
map_1.config = config

# Display map
map_1

C:\Users\sojan\AppData\Local\Temp\ipykernel_19280\1249422866.py:6: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

P:\CarrerFoundy\Data Visualizations with Python\Achivement 2\CitiBike_Weather_Analysis\venv\Lib\site-packages\jupyter_client\session.py:721: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant: nan
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)

KeplerGl(config={'version': 'v1', 'config': {'visState': {'layers': [{'id': 'start_points_layer', 'type': 'poi…

###  **Map Customization: Adjusting Colors and Adding Arcs**


1. **Point Colors Adjusted**
   - **Start Stations:** Set to **blue (RGB: 0, 128, 255)** to represent where trips begin.
   - **End Stations:** Set to **red (RGB: 255, 0, 0)** to highlight destinations.

2. **Arc Layer Customization**
   - **Arc Color:** Changed to **orange (RGB: 255, 140, 0)** to visually separate trips from station points.
   - **Opacity:** Set to **0.6** to reduce clutter when arcs overlap.
   - **Thickness:** Adjusted to **2** for better visibility without overwhelming the map.


- The **blue-red color scheme** clearly differentiates origins and destinations.
- **Arcs illustrate movement** between stations, making trip patterns easier to understand.
- **Opacity ensures overlapping arcs remain visible** without excessive visual noise.

---

### 6. Added a filter to the map and use it to see what the most common trips are in New York City.

In [47]:
print(df.columns)  # Lists all available columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'Unnamed: 13', 'Date_and_time'],
      dtype='object')

In [49]:
# Add a column with a value of 1 to count each trip
df["trip_count"] = 1  

# Aggregate trip counts by start and end station
trip_counts = df.groupby(["start_station_name", "end_station_name"]).agg({"trip_count": "sum"}).reset_index()

# Merge back into the original dataset
df = df.merge(trip_counts, on=["start_station_name", "end_station_name"], how="left")

In [51]:
print(df.columns)

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'Unnamed: 13', 'Date_and_time', 'trip_count_x',
       'trip_count_y'],
      dtype='object')

In [53]:
df.drop(columns=["trip_count_x"], inplace=True)  # Remove the original placeholder column
df.rename(columns={"trip_count_y": "trip_count"}, inplace=True)  # Rename the merged column

In [55]:
print(df.columns)  # Verify that trip_count is correctly named
print(df[["start_station_name", "end_station_name", "trip_count"]].head())  # Check trip counts

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'Unnamed: 13', 'Date_and_time', 'trip_count'],
      dtype='object')
        start_station_name             end_station_name  trip_count
0  West End Ave & W 107 St  Mt Morris Park W & W 120 St         3.0
1             4 Ave & 3 St      Boerum Pl\t& Pacific St         1.0
2          1 Ave & E 62 St              5 Ave & E 29 St         3.0
3          2 Ave & E 96 St              5 Ave & E 29 St         3.0
4          6 Ave & W 34 St              5 Ave & E 29 St        15.0

In [57]:
from keplergl import KeplerGl

map_1 = KeplerGl(height=600)
map_1.add_data(data=df, name="NYC Bike Trips")

# Configure filter for the most common trips
config = {
    "version": "v1",
    "config": {
        "visState": {
            "filters": [
                {
                    "dataId": "NYC Bike Trips",
                    "id": "trip_count_filter",
                    "name": "trip_count",
                    "type": "range",
                    "value": [100, df["trip_count"].max()],  # Adjust range based on actual values
                    "enlarged": True
                }
            ]
        }
    }
}

map_1.config = config
map_1

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

P:\CarrerFoundy\Data Visualizations with Python\Achivement 2\CitiBike_Weather_Analysis\venv\Lib\site-packages\jupyter_client\session.py:721: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant: nan
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [{'dataId': 'NYC Bike Trips', 'id': 'trip…

 **NYC Citi Bike Trip Analysis with Filters**


1. Most Common Trips
   - The highest trip densities are in **Manhattan, especially Midtown & Downtown**.
   - **Bridges between Brooklyn and Manhattan** are heavily used.
   - **Tourist areas** (e.g., Central Park, Financial District) show high weekend activity.

2. Possible Causes
   - **Commuters rely on Citi Bike for first-mile/last-mile transport.**
   - **Tourists and leisure riders contribute to weekend surges.**
   - **Bike lane improvements lead to higher usage in key areas.**
     
3.  Additional Research

    Commuter Demand: Citi Bike serves as a last-mile solution for NYC workers.
    Tourist Influence: Popular attractions drive casual riders, especially on weekends.
    Infrastructure Impact: Protected bike lanes (e.g., 8th Ave, 2nd Ave) increase ridership.

This analysis highlights how bike-sharing services align with urban mobility needs, helping commuters and tourists navigate NYC efficiently.

### 7. Creatd a config object and save the map with it.

In [60]:
import json

# Extract the current map configuration
config = map_1.config

# Save the config to a JSON file
config_path = r"P:\CarrerFoundy\Data Visualizations with Python\Achivement 2\kepler_config.json"
with open(config_path, "w") as f:
    json.dump(config, f)

print(f"Kepler configuration saved at: {config_path}")

Kepler configuration saved at: P:\CarrerFoundy\Data Visualizations with Python\Achivement 2\kepler_config.json

In [62]:
# Load the saved config
with open(config_path, "r") as f:
    saved_config = json.load(f)

# Create a new map and apply the saved configuration
map_2 = KeplerGl(height=600, config=saved_config)
map_2.add_data(data=df, name="NYC Bike Trips")

# Display the restored map
map_2

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

P:\CarrerFoundy\Data Visualizations with Python\Achivement 2\CitiBike_Weather_Analysis\venv\Lib\site-packages\jupyter_client\session.py:721: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant: nan
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [{'dataId': 'NYC Bike Trips', 'id': 'trip…

In [63]:
map_1.save_to_html(file_name=r"P:\CarrerFoundy\Data Visualizations with Python\Achivement 2\kepler_map.html")
print("Map saved as kepler_map.html")

Map saved to P:\CarrerFoundy\Data Visualizations with Python\Achivement 2\kepler_map.html!
Map saved as kepler_map.html